apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cilium-announce.yaml
  - cilium-ip-pool.yaml

helmCharts:
  - name: cilium
    repo: https://helm.cilium.io
    version: 1.18.6
    releaseName: "cilium"
    includeCRDs: true
    namespace: kube-system
    valuesFile: cilium-values.yaml
