name: Build and Cache Nix Flake

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows: ["Update and push flake lock"]
    types:
      - completed
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        configuration:
          # - .#nixosConfigurations.ali-steam-deck.config.system.build.toplevel
          # - .#nixosConfigurations.dev-vm.config.system.build.toplevel
          - .#nixosConfigurations.ali-desktop.config.system.build.toplevel
          - .#nixosConfigurations.ali-framework-laptop.config.system.build.toplevel
          - .#nixosConfigurations.download-server-1.config.system.build.toplevel
          - .#nixosConfigurations.home-k8s-master-1.config.system.build.toplevel
          - .#nixosConfigurations.home-k8s-server-1.config.system.build.toplevel
          - .#nixosConfigurations.home-kvm-hypervisor-1.config.system.build.toplevel
          - .#nixosConfigurations.home-storage-server-1.config.system.build.toplevel
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'rampage'
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            max-jobs = auto
            cores = 0
            eval-cache = true
            extra-substituters = https://ajenkins-public.cachix.org https://cosmic.cachix.org/ https://hyprland.cachix.org https://nix-community.cachix.org https://nix-gaming.cachix.org
            extra-trusted-public-keys = ajenkins-public.cachix.org-1:w/uYRGLft8KxQhPtQI1KPBy6j2eZRR8vLZjgLIKntzA= cosmic.cachix.org-1:Dya9IyXD4xdBehWjrkPv6rtxpmMdRel02smYzA85dPE= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= nix-gaming.cachix.org-1:nbjlureqMbRAxR1gJ/f3hxemL9svXaZF/Ees8vCUUs4=
      - uses: cachix/cachix-action@v16
        with:
          name: ajenkins-public
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Build and push to cache
        run: |
          cachix watch-exec ajenkins-public -- nix build --print-out-paths --no-link '${{ matrix.configuration }}'
