name: Update and push flake lock

on:
  schedule:
    - cron: "* 2 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v29
      - uses: DeterminateSystems/flake-checker-action@main
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
      - name: Update flake
        run: |
          nix flake update --commit-lock-file && \
          git push origin main
