name: Build and Cache Nix Flake

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     configuration:
    #       - .#nixosConfigurations.ali-desktop.config.system.build.toplevel
    #       - .#nixosConfigurations.ali-laptop.config.system.build.toplevel
    #       - .#nixosConfigurations.ali-work-laptop.config.system.build.toplevel
    #       - .#nixosConfigurations.ali-steam-deck.config.system.build.toplevel
    #       - .#nixosConfigurations.ali-framework-laptop.config.system.build.toplevel
    #       - .#nixosConfigurations.home-k8s-master-1.config.system.build.toplevel
    #       - .#nixosConfigurations.home-kvm-hypervisor-1.config.system.build.toplevel
    #       - .#nixosConfigurations.home-storage-server-1.config.system.build.toplevel
    #       - .#nixosConfigurations.home-k8s-server-1.config.system.build.toplevel
    #       - .#nixosConfigurations.dev-vm.config.system.build.toplevel
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v29
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: cachix/cachix-action@v16
        with:
          name: ajenkins-public
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Update flake
        run: |
          nix flake update --commit-lock-file && \
          git push origin main
